<% if flash[:notice] %>
<div class = "flash">
  <%= flash[:notice] %>
</div>
<% end %>

<%= attachment_image_tag @recipe, :image, :fill, 500, 500, class: "", size:'500x500'%>

<h2>料理名</h2><%= @recipe.title %>
<h2>材料一覧</h2><%= @recipe.ingredient %>
<h2>調理手順</h2><%= @recipe.process %><br><br>

<div id="post_message">
<%= render partial: 'layouts/post_message', locals: {recipe: @recipe, post_message: @post_message } %>
</div>

<% if @recipe.user == current_user %>
  <h2><%= link_to "レシピの編集", edit_recipe_path %><h2>
	<%= link_to "削除", recipe_path(@recipe), method: :delete, "data-confirm" => "削除しますか？" %>
<% elsif admin_signed_in? %>
  <%= link_to "削除", recipe_path(@recipe), method: :delete, "data-confirm" => "削除しますか？" %>
<% end %>









