<!DOCTYPE html>
<html>
<head>
  <title>Zuborasann</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-dark bg-warning">
    <a class="navbar-brand" href="/">ずぼらさん</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>
        <br>
        <li class="nav-item">
          <a class="nav-link" href="/rank">Popular Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recipes">My Recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-method="delete" href="/users/sign_out">LogOut
          </a>
        </li>
      </ul><br>

    <%= form_tag(search_path,:method => 'get',class:'navbar-form') do %>
    <%= text_field_tag :search, nil, :placeholder => 'search' %>
    <%= hidden_field_tag :target, 'recipe' %>
    <%= submit_tag 'search', :title => nil %>
    <% end %>
    </div>
  </nav>

<% else %>
 　　　<% if admin_signed_in? %>

        　<a class="nav-link" data-method="delete" href="/admins/sign_out">LogOut
        　</a>
    　</ul>

    <%= form_tag(search_path,:method => 'get',class:'navbar-form') do %>
    <%= text_field_tag :search, nil, :placeholder => 'search' %>
    <%= hidden_field_tag :target, 'recipe' %>
    <%= submit_tag 'search', :title => nil %>
    <% end %>
  </div>
</nav>

<% else %>

    　<li class="nav nav-item">
        <a class="nav-link" href="/rank">Popular Recipes</a>
      </li>
      <li class="nav nav-item">
        <a class="nav-link"　data-method="post" href="/users/sign_in">LogIn</a>
      </li>
      <li class="nav nav-item">
        <a class="nav-link"　data-method="delete" href="/admins/sign_in">Admin
        </a>
      </li>
    </ul><br>

    <%= form_tag(search_path,:method => 'get',class:'navbar-form') do %>
    <%= text_field_tag :search, nil, :placeholder => 'search' %>
    <%= hidden_field_tag :target, 'recipe' %>
    <%= submit_tag 'search', :title => nil %>
    <% end %>
  </div>
</nav>

    <% end %>
    <% end %>
<%= yield %>
</body>
</html>

