<!DOCTYPE html>
<html>
  <head>
    <title>Zuborasann</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <body>
  <nav class="nav navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
 <li>
        <%= link_to root_path do %>top
        <% end %>
      </li></div>
    </div></nav>













    <%= yield %>
  </body>
</html>

