<!DOCTYPE html>
<html>
<head>
  <title>Zuborasann</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-dark" style="background-color:#AEFFBD;">
    <a class="navbar-brand" style="color:#000000;" href="/"><h1 class = "title">ずぼらさん</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">

      <% if user_signed_in? %>

        <li class="nav-item">
          <a class="nav-link text-dark" href="/rank"><br>人気レシピ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/recipes">マイレシピ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" data-method="delete" href="/users/sign_out">ログアウト
          </a>
        </li>
      </ul>

    <%= form_tag(search_path,:method => 'get',class:'navbar-form') do %>
    <%= text_field_tag :search, nil, :placeholder => '検索' %>
    <%= hidden_field_tag :target, 'recipe' %>
    <%= submit_tag '検索', :title => nil %>
    <% end %>
    </div>
  </nav>

<% else %>
 　　　<% if admin_signed_in? %>

        <a class="nav-link text-dark" data-method="delete" href="/admins/sign_out">ログアウト
        </a>
    　</ul>

    <%= form_tag(search_path,:method => 'get',class:'navbar-form') do %>
    <%= text_field_tag :search, nil, :placeholder => '検索' %>
    <%= hidden_field_tag :target, 'recipe' %>
    <%= submit_tag '検索', :title => nil %>
    <% end %>
  </div>
</nav>

<% else %>

    　<li class="nav nav-item">
        <a class="nav-link text-dark" href="/rank">人気レシピ</a>
      </li>
      <li class="nav nav-item">
        <a class="nav-link text-dark" data-method="post" href="/users/sign_in">ログイン</a>
      </li>
      <li class="nav nav-item">
        <a class="nav-link text-dark"　data-method="delete" href="/admins/sign_in">Admin
        </a>
      </li>
    </ul>

    <%= form_tag(search_path,:method => 'get',class:'navbar-form') do %>
    <%= text_field_tag :search, nil, :placeholder => '検索' %>
    <%= hidden_field_tag :target, 'recipe' %>
    <%= submit_tag '検索', :title => nil %>
    <% end %>
  </div>
</nav>

    <% end %>
    <% end %>
<%= yield %>
</body>
</html>

